.order-summary{

    /* border: 1px solid #383b3b; */

    padding: 10px;

    border-radius: 5px;
color: #383b3b;
    width: 300px;
    background-color: #ffffff;
    height: fit-content;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);

}
.order-summary h2{
  color:#131313;
  text-align: center;
}
.order-detail{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    padding: 5px 5px;
    border-bottom: 1px solid #383b3b;
}
.order-detail:nth-child(5) {
    border-bottom: none;
    font-weight: 700;

}

.checkout-btn{
  margin: 10px auto;
}